{% extends 'posts/base.html' %}
{% load static %}


{% block title %}Post: {{post.id}}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item"><a href="/posts/">E'lonlar</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
{% endblock breadcrumb %}


{% block content %}
    <div class="card bg-dark m-0 text-white" style="border:none;">
        <div class="card-header">
            <h2>{{post.title|safe}}</h2>{% if post.author == user %}<a href="{% url 'post_edit' post.id %}" class="mx-1 btn btn-outline-success"><i class="bi bi-pen"></i> Taxrirlash</a>{% endif %}
        </div>
        <div class="card-body p-2">
            {{post.content|safe}}

            <div class="text-end">
                <a style="font-size:15px;" href="{% url 'add_post_like' post.id %}" class="btn-{% if user not in post.likes.all %}outline-{% endif %}danger btn"><i class="bx bx-heart"></i> {{post.likes.count}}</a>
            </div>
        </div>
        <div class="card-footer">
            <div class="card bg-dark" style="border:none;">
            <div class="card-middle">
                        <div class="card-header">
                            <h4 class="text-white">Post egasi:</h4>
                        </div>
                        <a href="{% url 'profile' post.author.username %}"><div class="card bg-dark text-white user-status">
                            <div class="card-body d-inline p-1">
                                <img src="https://icon-library.com/images/teacher-icon-png/teacher-icon-png-17.jpg" class="header__img">
                                <span style="font-size:20px;">{{post.author.username|title}}</span><br><span class="fw-lighter px-3 text-white-50" style="font-size:15px;">{{post.author.email}}</span>
                            </div>
                        </div></a>
                    </div></div><hr>
            <div class="card bg-dark" style="border:none;">
                <div class="card-header">
                    <h1>Izohlar:</h1>
                </div>
                <div class="form">
                    <form method="POST">{% csrf_token %}
                        <h4 class="mx-5 my-2">Izoh qo'shish:</h4>
                        <div class="mb-3 mx-5">
                            <textarea class="form-control bg-dark text-white" name="body"></textarea>
                        </div>
                        <button class="btn mx-5 my-2 bg-secondary text-dark">Yuborish</button>
                    </form>
                </div>
                <div class="card-body comments-div">
                    {% for comment in post.comment.all %}
                        <div class="card bg-dark text-white mb-3">
                            <div class="card-header">
                                <a href="{% url 'profile' post.author.username %}"><div class="card bg-dark text-white user-status" style="border:none;">
                                    <div class="card-body d-inline p-1">
                                        <img src="https://icon-library.com/images/teacher-icon-png/teacher-icon-png-17.jpg" class="header__img">
                                        <span style="font-size:20px;">{{comment.user.username|title}}<span class="small mx-4 text-primary-emphasis">Biz bilan birga: <mark class="bg-dark">{{comment.user.date_joined|date:'d.m.Y'}}</mark>dan buyon</span></span><br><span class="fw-lighter px-3 text-white-50" style="font-size:15px;">{{comment.user.email}}</span>
                                    </div>
                                </div></a><hr>
                                <div class="card-body">
                                    <figcaption class="blockquote-footer">
                                        {{comment.body|safe}}
                                    </figcaption>

                                </div>
                                <div class="card--footer">
                                    {{comment.date_created|timesince}} ago
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}