{% extends 'bsb/base.html' %}

{% block title %}{{assignment.title|safe}}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item"><a href="/controls/">Nazorat ishlari</a></li>
    <li class="breadcrumb-item"><a href="/controls/control/{{bsb.id}}">{{bsb.title|title}}</a></li>
    <li class="breadcrumb-item"><a href="/controls/control/{{bsb.id}}/assignments">Topshiriqlar</a></li>
    <li class="breadcrumb-item bg-dark" aria-current="page">{{assignment.title|title}}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="card bg-dark p-1 mb-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/controls/control/{{bsb.id}}/"><i class="fa fa-bar-chart"></i> Nazorat ishi</a>
            </li>
            {% if user.is_teacher or user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="/controls/control/{{bsb.id}}/edit/"><i class="fa fa-pen"></i> Tahrirlash</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/controls/control/{{bsb.id}}/clone/"><i class="fa-regular fa-clone"></i> Klonlash</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% if bsb.type == 'Topshiriq' %}{% url 'add_bsb_assignment' bsb.id %}{% elif bsb.type == 'Masala' %}{% url 'add_bsb_problem' bsb.id %}{% else %}/controls/control/{{bsb.id}}/tests/add/{% endif %}"><i class="fa fa-plus"></i> {% if bsb.type == 'Topshiriq' %} Savol qo'shish{% elif bsb.type == 'Masala' %} Masala qo'shish {% else %} Test qo'shish{% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-danger text-white" href="/controls/control/{{bsb.id}}/delete/"><i class="fa fa-trash"></i> O'chirish</a>
            </li>
            {% endif %}
            {% if bsb.holati == 'Tugagan' or bsb.holati == 'Dovom etmoqda' or user.is_staff or user.is_teacher %}
            <li class="nav-item">
                <a class="nav-link bg-primary text-white" aria-current="page"><i class="fa fa-question"></i> {% if bsb.type == 'Topshiriq' %} Savollar{% elif bsb.type == 'Masala' %} Masalalar {% else %} Testlar{% endif %}</a>
            </li>
            {% endif %}
            {% if bsb.holati == 'Tugagan' or bsb.holati == 'Dovom etmoqda' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'bsb_results' bsb.id %}"><i class="fa-solid fa-square-poll-vertical"></i> Natijalar</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <style>
        .modal-body{
            max-height:400px;
            border-radius:10px;
            overflow-y: scroll;
        }
    </style>
    {% include 'bsb/bsb_header.html' %}
    <div class="card bg-dark text-white">
        <div class="card-header p-4">
            <h1>{{assignment.title|safe}}</h1>{% if user.is_staff or user.is_teacher %} <a href="edit/" class="btn btn-primary m-2"> Tahrirlash</a>{% endif %}
        </div>
        <div class="card-body">
            {{assignment.info|safe}}
        </div>
    </div>
    {% if user.is_staff or user.is_teacher or user.is_superuser %}
    <div class="card bg-dark text-white my-3">
        <div class="card-header p-3">
            <h3>Javoblar</h3>
        </div>
        <div class="card-body">
            <div class="accordion bg-dark text-white" id="answerca">
            {% for ass in assignment.answers.all %}
              <div class="accordion-item bg-dark text-white">
                <h2 class="accordion-header bg-dark text-white" id="headingOne">
                  <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#answer{{ass.id}}" aria-expanded="true" aria-controls="collapseOne">
                      {{ass.user.username|title}}
                  </button>
                </h2>
                <div id="answer{{ass.id}}" class="accordion-collapse collapse bg-dark text-white" aria-labelledby="headingOne" data-bs-parent="#answerca">
                  <div class="accordion-body">
                    {{ass.body|safe}}
                      {% if not ass.student_answer_ball.exists or user.is_teacher or user.is_staff %}
                      <div class="accordion my-3 bg-dark text-white" id="accordionExample">
                          <div class="accordion-item bg-dark text-white">
                            <h2 class="accordion-header">
                              <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Ball berish
                              </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse text-right collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                    <form method="post">
                                        {% csrf_token %}<input type="hidden" value="{{ass.id}}" name="student_answer_id">
                                        <div class="m-3">
                                            <label class="form-label">Ball</label>
                                            <input type="number" required step="0.00000001" name="ball" class="form-control bg-dark text-white">
                                            <div class="form-text text-white">Bergan balingiz</div>
                                        </div>
                                        <div class="m-3">
                                            <button type="submit" class="btn btn-outline-primary">Saqlash</button>
                                        </div>
                                    </form>
                              </div>
                            </div>
                          </div>

                        </div>
                      {% else %}
                      <div class="accordion my-3 bg-dark text-white" id="accordionExample1">
                          {% for ass_ball in assignment.answer_balls.all %}
                              <div class="accordion-item bg-dark text-white">
                                <h2 class="accordion-header">
                                  <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                    O'quvchi olgan ball - {{ass_ball.ball}} <i>b</i>
                                  </button>
                                </h2>
                                <div id="collapseOne1" class="accordion-collapse text-right collapse" data-bs-parent="#accordionExample1">
                                  <div class="accordion-body">
                                      {{ass_ball.xatolar_va_kamchiliklar|safe}}
                                  </div>
                                </div>
                              </div>
                          {% endfor %}

                        </div>
                      {% endif %}
                  </div>
                </div>
              </div>

            {% endfor %}
            </div>
        </div>
    </div>
    {% elif user.username in student_answers1 %}
    <div class="card bg-dark text-white my-3">
        <div class="card-header p-3">
            <h3>Javoblar</h3>
        </div>
        <div class="card-body">
            <div class="accordion bg-dark text-white" id="answerca">
            {% for ass in assignment.answers.all %}
              <div class="accordion-item bg-dark text-white">
                <h2 class="accordion-header bg-dark text-white" id="headingOne">
                  <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#answer{{ass.id}}" aria-expanded="true" aria-controls="collapseOne">
                      {{ass.user.username|title}}
                  </button>
                </h2>
                <div id="answer{{ass.id}}" class="accordion-collapse collapse bg-dark text-white" aria-labelledby="headingOne" data-bs-parent="#answerca">
                  <div class="accordion-body">
                    {{ass.body|safe}}
                      {%  if user == assignment.author and not ass.answer_balls.exists %}
                      <div class="accordion my-3 bg-dark text-white" id="accordionExample">
                          <div class="accordion-item bg-dark text-white">
                            <h2 class="accordion-header">
                              <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Ball berish
                              </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse text-right collapse" data-bs-parent="#accordionExample">
                              <div class="accordion-body">
                                    <form method="post">
                                        {% csrf_token %}<input type="hidden" value="{{ass.id}}" name="student_answer_id">
                                        <div class="m-3">
                                            <label class="form-label">Ball</label>
                                            <input type="number" required step="0.00000001" name="ball" class="form-control bg-dark text-white">
                                            <div class="form-text text-white">Bergan balingiz</div>
                                        </div>
                                        <div class="m-3">
                                            <button type="submit" class="btn btn-outline-primary">Saqlash</button>
                                        </div>
                                    </form>
                              </div>
                            </div>
                          </div>

                        </div>
                      {% else %}
                      <div class="accordion my-3 bg-dark text-white" id="accordionExample1">
                          {% for ass_ball in ass.answer_balls.all %}
                              <div class="accordion-item bg-dark text-white">
                                <h2 class="accordion-header">
                                  <button class="accordion-button bg-dark text-white" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                    O'quvchi olgan ball - {{ass_ball.ball}} <i>b</i>
                                  </button>
                                </h2>
                                <div id="collapseOne1" class="accordion-collapse text-right collapse" data-bs-parent="#accordionExample1">
                                  <div class="accordion-body">
                                      {{ass_ball.xatolar_va_kamchiliklar|safe}}
                                  </div>
                                </div>
                              </div>
                          {% endfor %}

                        </div>
                      {% endif %}
                  </div>
                </div>
              </div>

            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if user.username not in student_answers1 %}
        <div class="card bg-dark text-white my-3">
            <div class="p-3 card-header">
                <h3>Javobini yuborish</h3>
            </div>
            <div class="card-body">
                <form method="post">{% csrf_token %}
                    <div class="m-3">
                        <label for="answer" class="form-label">Sizning javobingiz</label>
                        <textarea class="form-control bg-dark text-white for-tiny" id="answer" name="answer"></textarea>
                    </div>
                    <div class="m-3">
                        <button class="btn btn-outline-primary" type="submit">Yuborish</button>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block js1 %}
<script>
    tinymce.init({
        themes: "modern",
        skin: "oxide-dark",
        content_css: "dark",
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap',
    });
</script>
{% endblock %}