{% extends 'base.html' %}{% extends 'bsb/base.html' %}

{% block title %}Natija{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item"><a href="/controls/">Nazorat ishlari</a></li>
    <li class="breadcrumb-item"><a href="/controls/control/{{bsb.id}}">{{bsb.title|title}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Javobni yuborish</li>
{% endblock breadcrumb %}

{% block content %}
    {% include 'bsb/bsb_header.html' %}

    {% for key, value in data.items %}
        <div class="alert {% if value %}alert-success{% else %}alert-danger{% endif %}"><h3>{% if value %}To'g'ri{% else %}Natog'ri{% endif %}</h3></div>
    {% endfor %}
    <div class="bg-dark text-white card">
        <div class="card-body">
            <h5>Siz to'plagan ball: <i><b>{{data1}} B</b></i></h5>
        </div>
    </div>
{% endblock content %}