{% extends 'bsb/base.html' %}

{% block title %}Natija{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item"><a href="/controls/">Nazorat ishlari</a></li>
    <li class="breadcrumb-item"><a href="/controls/control/{{bsb.id}}">{{bsb.title|title}}</a></li>
    <li class="breadcrumb-item bg-dark" aria-current="page">Javobni yuborish</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="card bg-dark p-1 mb-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/controls/control/{{bsb.id}}/"><i class="fa fa-bar-chart"></i> Nazorat ishi</a>
            </li>
            {% if user.is_teacher or user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="/controls/control/{{bsb.id}}/edit/"><i class="fa fa-pen"></i> Tahrirlash</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/controls/control/{{bsb.id}}/clone/"><i class="fa-regular fa-clone"></i> Klonlash</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% if bsb.type == 'Topshiriq' %}{% url 'add_bsb_assignment' bsb.id %}{% elif bsb.type == 'Masala' %}{% url 'add_bsb_problem' bsb.id %}{% else %}/controls/control/{{bsb.id}}/tests/add/{% endif %}"><i class="fa fa-plus"></i> {% if bsb.type == 'Topshiriq' %} Savol qo'shish{% elif bsb.type == 'Masala' %} Masala qo'shish {% else %} Test qo'shish{% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-danger text-white" href="/controls/control/{{bsb.id}}/delete/"><i class="fa fa-trash"></i> O'chirish</a>
            </li>
            {% endif %}
            {% if bsb.holati == 'Tugagan' or bsb.holati == 'Dovom etmoqda' or user.is_staff or user.is_teacher %}
            <li class="nav-item">
                <a class="nav-link bg-primary text-white" aria-current="page"><i class="fa fa-question"></i> {% if bsb.type == 'Topshiriq' %} Savollar{% elif bsb.type == 'Masala' %} Masalalar {% else %} Testlar{% endif %}</a>
            </li>
            {% endif %}
            {% if bsb.holati == 'Tugagan' or bsb.holati == 'Dovom etmoqda' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'bsb_results' bsb.id %}"><i class="fa-solid fa-square-poll-vertical"></i> Natijalar</a>
            </li>
            {% endif %}
        </ul>
    </div>

    {% for key, value in data.items %}
        <div class="alert {% if value %}alert-success{% else %}alert-danger{% endif %}"><h3>{% if value %}To'g'ri{% else %}Natog'ri{% endif %}</h3></div>
    {% endfor %}
    <div class="bg-dark text-white card">
        <div class="card-body">
            <h5>Siz to'plagan ball: <i><b>{{data1}} B</b></i></h5>
        </div>
    </div>
{% endblock content %}