{% extends 'bsb/base.html' %}

{% block title %}{{bsb.title}}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item"><a href="/controls/">Nazorat ishlari</a></li>
    <li class="breadcrumb-item"><a href="/controls/control/{{bsb.id}}">{{bsb.title|title}}</a></li>
    <li class="breadcrumb-item bg-dark" aria-current="page">Savollar</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="card bg-dark p-1 mb-3">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/controls/control/{{bsb.id}}/"><i class="fa fa-bar-chart"></i> Nazorat ishi</a>
            </li>
            {% if user.is_teacher or user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href="/controls/control/{{bsb.id}}/edit/"><i class="fa fa-pen"></i> Tahrirlash</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/controls/control/{{bsb.id}}/clone/"><i class="fa-regular fa-clone"></i> Klonlash</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% if bsb.type == 'Topshiriq' %}{% url 'add_bsb_assignment' bsb.id %}{% elif bsb.type == 'Masala' %}{% url 'add_bsb_problem' bsb.id %}{% else %}/controls/control/{{bsb.id}}/tests/add/{% endif %}"><i class="fa fa-plus"></i> {% if bsb.type == 'Topshiriq' %} Savol qo'shish{% elif bsb.type == 'Masala' %} Masala qo'shish {% else %} Test qo'shish{% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-danger text-white" href="/controls/control/{{bsb.id}}/delete/"><i class="fa fa-trash"></i> O'chirish</a>
            </li>
            {% endif %}
            {% if bsb.holati == 'Tugagan' or bsb.holati == 'Dovom etmoqda' or user.is_staff or user.is_teacher %}
            <li class="nav-item">
                <a class="nav-link bg-primary text-white" aria-current="page"><i class="fa fa-question"></i> {% if bsb.type == 'Topshiriq' %} Savollar{% elif bsb.type == 'Masala' %} Masalalar {% else %} Testlar{% endif %}</a>
            </li>
            {% endif %}
            {% if bsb.holati == 'Tugagan' or bsb.holati == 'Dovom etmoqda' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'bsb_results' bsb.id %}"><i class="fa-solid fa-square-poll-vertical"></i> Natijalar</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="card bg-dark text-white">
        <div class="card-header">
            <h5>Testlar</h5>
        </div>
        <div class="card-body">
            <style>
                p{
                    display:inline;
                    padding:5px;
                }
            </style>
            <form method="POST" action="post/">{% csrf_token %}
                <ol>
                    {% for question in quizes %}
                        <li>
                        <p style="display:inline-block;">{{question.body|safe}}</p><br>
                        {% for answer in question.tests.all %}
                            <input required type="radio" name="{{question.id}}" id="{{answer.id}}" value="{{answer.id}}" class="form-check-input mx-2"><label for="{{answer.id}}">{{answer.body|safe}}</label><br>
                        {% endfor %}
                            <br>
                            <p>{{question.ball}}</p> ball
                        </li>
                    <hr>
                    {% endfor %}
                </ol>
                <div class="modal" id="exampleModal{{question.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-s bg-dark text-white">
                            <div class="modal-content bg-dark text-white">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel">Eslatma!</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body p-3">
                                    <p>Haqiqatdan ham javobni yubormoqchimiz</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary" type="submit">Ha</button>
                                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal" aria-label="Close">Yo'q</button>
                                </div>
                            </div>
                      </div>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal{{question.id}}">Yuborish</button>
            </form>
        </div>
    </div>
{% endblock content %}