{% extends 'attempts/base.html' %}

{% block title %}Urinishlar{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item active" aria-current="page">Urinishlar</li>
{% endblock breadcrumb %}

{% block content %}
    <h1>Urinishlar</h1>
    <div class="table-responsive">
        <table class="table m-0 table-hover table-borderless table-striped text-left slim-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Foydalanuvchi</th>
                    <th>Masala</th>
                    <th>Holati</th>
                    <th>Til</th>
                    <th>Vaqt</th>
                    <th>Xotira</th>
                    <th>Ko'd uzinligi</th>
                </tr>
            </thead>
            <tbody>
                {% for urinish in object_list.object_list %}
                    <tr class="{% if user == urinish.user %}border-success{% endif %}">
                        <td><a {% if urinish.user == user or user.is_staff %}href="/informatics/attempts/attempt/{{urinish.id}}/"{% endif %}>{{urinish.id}}</a></td>
                        <td><a href="/users/profile/{{ urinish.user.username }}/">{{ urinish.user.first_name }} {{ urinish.user.last_name }}</a></td>
                        <td><a href="/informatics/problems/{% if not urinish.masala.is_archived %}un{% endif %}problem/{{urinish.masala.slug}}/">{{urinish.masala.title}}</a></td>
                        <td><span class="{% if urinish.turi == 'Qabul Qilindi' %}text-success{% elif 'Tekshirilmoqda' in urinish.turi %}text-info{% elif urinish.turi == 'Navbatda' %}text-white{% else %}text-danger{% endif %}">{{urinish.turi}}</span></td>
                        <td><img src="{% if urinish.til == 'python' %}https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/121px-Python-logo-notext.svg.png{% elif urinish.til == 'node' %}https://algorithmshub.uz/static/javascript.png{% endif %}" width="30" style="border-radius: 15px;" alt="language"></td>
                        <td>{{urinish.time|floatformat:'2'}} ms</td>
                        <td>{{urinish.memory|floatformat:'2'}} KB</td>
                        <td>{{urinish.olcham}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% block paginate %}
            <div class="d-flex mt-3">
                <div class="mx-auto">
                    <div>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item {% if object_list.has_previous  %}{% else %}disabled{% endif %}" aria-disabled="true">
                                    {% if object_list.has_previous %}
                                        <a class="btn btn-success" href="?page={{ object_list.previous_page_number }}">&laquo; Oldingi</a>
                                    {% else %}
                                        <a class="btn btn-success disabled" href="#">&laquo; Oldingi</a>
                                    {% endif %}
                                </li>
                                <li class="page-item {% if object_list.has_next  %}{% else %}disabled{% endif %}">
                                    {% if object_list.has_next  %}
                                        <a class="btn btn-success" href="?page={{ object_list.next_page_number }}">Keyingi &raquo;</a>
                                    {% else %}
                                        <a class="btn btn-success disabled" href="#">Keyingi &raquo;</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        {% endblock paginate %}
    </div>
{% endblock content %}