{% extends 'assignments/base.html' %}

{% block title %}{{answer.student.get_full_name}}ning bali{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item"><a href="/assignments/">Topshiriqlar</a></li>
    <li class="breadcrumb-item"><a href="/assignments/assignment/{{assignment.id}}/">{{assignment.title|title}}</a></li>
    <li class="breadcrumb-item"><a href="/assignments/assignment/{{assignment.id}}/answers/">Javoblar</a></li>
    <li class="breadcrumb-item bg-dark" aria-current="page">{{answer.student.get_full_name}}ning bali</li>
{% endblock breadcrumb %}

{% block content %}
<div class='card bg-dark mb-3'>
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
            <a class="nav-link" href="/assignments/assignment/{{assignment.id}}/"><i class='fa fa-person-chalkboard'></i> Dars</a>
        </li>
        {% if user.is_staff or user.is_teacher or user.is_create_ass %}
        <li class="nav-item">
            <a class="nav-link" href="/assignments/assignment/{{assignment.id}}/edit/"><i class='fa fa-pen'></i> Tahrirlash</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-danger text-white" href="/assignments/assignment/{{assignment.id}}/delete/"><i class='fa fa-trash'></i> O'chirish</a>
        </li>
        {% endif %}
        {% if user.sinf == assignment.sinf and user in assignment.javoblar.all %}
        <li class="nav-item">
            <a class="nav-link" href="/assignments/assignment/{{assignment.id}}/my-answer/"><i class='fa fa-file-pen'></i> Mening javobim</a>
        </li>
        {% endif %}
        {% if now > assignment.qachongacha or user.is_staff or user.is_teacher or user.is_create_ass %}
        <li class="nav-item">
            <a class="nav-link bg-primary text-white" aria-current="page"><i class='fa fa-check'></i> Javoblar</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="/assignments/assignment/{{assignment.id}}/prices/"><i class='fa fa-medal'></i> Baholar</a>
        </li>

    </ul>
</div>
<div class="card p-3 bg-dark mt-2">
    {{answer.answer|safe}}</br>
    {% if user.is_staff or user.is_teacher or user.is_create_ass %}
        {% if not answer.student_answer_ball.exists %}
            <form method='post'>{% csrf_token %}
                <div class="mb-3">
                    <label for="ball" class="form-label">Qo'ymoqchi bo'lgan balingiz</label>
                    <input type="number" scope="0.1" class="form-control bg-dark" id="ball" name='ball' placeholder="Ball">
                    <div id="emailHelp" class="form-text bg-dark">Qo'ymoqchi bo'lgan balingizni keyin o'zgartirishning iloji yo'q.</div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Saqlash</button>
                </div>
            </form>
        {% else %}
        <p>O'quvchi olgan ball - {{answer.student_answer_ball.first.ball}}</p>
        {% endif %}
    {% else %}
        <p>O'quvchi olgan ball - {{answer.student_answer_ball.first.ball}}</p>
    {% endif %}
</div>
{% endblock content %}