{% extends 'assignments/base.html' %}

{% block title %}{{assignment.title|safe}}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item"><a href="/assignments/">Topshiriqlar</a></li>
    <li class="breadcrumb-item bg-dark" aria-current="page">{{assignment.title|title}}</li>
{% endblock breadcrumb %}

{% block content %}
    <div class='card bg-dark mb-3'>
        <ul class="nav nav-tabs bg-dark">
            <li class="nav-item">
                <a class="nav-link bg-primary text-white" aria-current="page" href="#"><i class='fa fa-person-chalkboard'></i> Dars</a>
            </li>
            {% if user.is_staff or user.is_teacher or user.is_create_ass %}
            <li class="nav-item">
                <a class="nav-link" href="/assignments/assignment/{{assignment.id}}/edit/"><i class='fa fa-pen'></i> Tahrirlash</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-danger text-white" href="/assignments/assignment/{{assignment.id}}/delete/"><i class='fa fa-trash'></i> O'chirish</a>
            </li>
            {% endif %}
            {% if user.sinf == assignment.sinf and user in assignment.javoblar.all %}
            <li class="nav-item">
                <a class="nav-link" href="/assignments/assignment/{{assignment.id}}/my-answer/"><i class='fa fa-file-pen'></i> Mening javobim</a>
            </li>
            {% endif %}
            {% if now > assignment.qachongacha or user.is_staff or user.is_teacher or user.is_create_ass %}
            <li class="nav-item">
                <a class="nav-link" href="/assignments/assignment/{{assignment.id}}/answers/"><i class='fa fa-check'></i> Javoblar</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/assignments/assignment/{{assignment.id}}/prices/"><i class='fa fa-medal'></i> Baholar</a>
            </li>

        </ul>
    </div>

    <div class="card bg-dark p-3 mb-3">
        <h2 class="text-center">{{assignment.title|title}}</h2><hr>
        <div class='card-body'>
            {{assignment.info|safe}}
        </div>
    </div>
    {% if user.sinf == assignment.sinf and user not in assignment.javoblar.all %}
    <form class="card bg-dark p-3" method="POST">{% csrf_token %}
        <h4>Javobini yuborish</h5>
        <label for="send-answer" class='mt-3'>Javobingizni yozing</label>
        <textarea name="answer" class="for-tiny" id='send-answer'></textarea>
        <button type="button" class="btn btn-primary mt-3"  data-bs-toggle="modal" data-bs-target="#sender-modal">Yuborish</button>
        <div class="modal fade" id="sender-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="sender-modal-label" aria-hidden="true">
            <div class="modal-dialog  modal-dialog-centered">
                <div class="modal-content bg-dark text-center p-3">
                    <h4>Rostdan ham javobni yubormoqchimisiz?</h4>
                    <div>
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Yo'q</button>
                        <button class="btn btn-success" type="submit">Ha</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}
{% endblock content %}

{% block js1 %}
{% if user.sinf == assignment.sinf and user not in assignment.javoblar.all %}
<script>
        tinymce.init({
            themes: "modern",
            skin: "oxide-dark",
            content_css: "dark",
            selector: 'textarea.for-tiny',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap',
        });
</script>
{% endif %}
{% endblock %}