{% extends 'assignments/base.html' %}

{% block title %}Topshiriqlar{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item bg-dark" aria-current="page">Topshiriqlar</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="card bg-dark p-3">
    <form method="get">
        <label for="search">Qidiruv</label>
        <div class="input-group">
            <input type="text" name="search" id="search" class="form-control bg-dark" placeholder="Qidirish..." value="{{search}}">
            <button class="btn bg-dark input-group-text"><i class="fa fa-search"></i></button>
        </div>
    </form>
</div>
<div class="table-responsive card p-1 bg-dark mt-2">
    <table class="table" id="not-stripted">
        <thead>
            <tr>
                <th>Nomi</th>
                <th>Muallif</th>
                <th>Oxirgi topshirish kuni</th>
                <th>Javoblar soni</th>
                <th>Sinf</th>
                <th>Ball</th>
            </tr>
        </thead>
        <tbody>
            {% for masala in page_obj.object_list %}
                <tr class="{% if user in masala.javoblar %}border-success{% else %}{% endif %}">
                    <td><a href="/assignments/assignment/{{masala.id}}/">{{masala.title}}</td>
                    <td><a href="/users/profile/{{masala.author.username}}">{{masala.author.first_name}} {{masala.author.last_name}}</a></td>
                    <td>{{masala.qachongacha|date:'d.m.Y | h:m'}}</td>
                    <td>{{masala.javoblar.count}}</td>
                    <td>{{masala.sinf}}</td>
                    <td>{{masala.max_ball}}</td>

                </tr>
            {% empty %}
                <tr>
                    <td colspan="8" class="text-center">
                        <i class="fa fa-x bg-danger" style="font-size: 90px;padding: 25px 35px;border-radius: 50%;"></i><br><br> Afsuski Hech narsa Topilmadi
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        {% if object.num_pages != 1 %}
        <tfoot>
            <tr>
                <th colspan="3">
                    <div class="pages text-center">

                        <nav aria-label="Page navigation example" class="text-center">
                            <ul class="pagination bg-dark text-center justify-content-center my-3">
                                {% if search %}
                                    {% if page_obj.has_previous %}
                                        <li class="page-item bg-dark"><a class="page-link" href="?search={{search}}&page={{ page_obj.previous_page_number }}">Orqaga</a></li>

                                        {% if page_obj.number > 3 %}
                                            <li class="page-item"> <a class="page-link" href="?search={{search}}&page=1">1</a></li>
                                                {% if page_obj.number > 4 %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}

                                        {% for num in page_obj.paginator.page_range %}
                                            {% if page_obj.number == num %}
                                                <li class="page-item"><a class="page-link active disabled bg-dark" href="?search={{search}}&page={{ num }}">{{ num }}</a></li>
                                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item"><a class="page-link" href="?search={{search}}&page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                            {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <span class="page-link">...</span>
                                                <li class="page-item"><a class="page-link" href="?search={{search}}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                                            {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %} <li class="page-item"><a class="page-link"
                                                    href="?search={{search}}&page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                                        {% endif %}

                                        <li class="page-item"><a href="?search={{search}}&page={{ page_obj.next_page_number }}" class="page-link">Oldinga</a></li>
                                    {% endif %}
                                {% else %}
                                    {% if page_obj.has_previous %}
                                        <li class="page-item bg-dark"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Orqaga</a></li>

                                        {% if page_obj.number > 3 %}
                                            <li class="page-item"> <a class="page-link" href="?page=1">1</a></li>
                                                {% if page_obj.number > 4 %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}

                                        {% for num in page_obj.paginator.page_range %}
                                            {% if page_obj.number == num %}
                                                <li class="page-item"><a class="page-link active disabled bg-dark" href="?page={{ num }}">{{ num }}</a></li>
                                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                            {% endif %}
                                        {% endfor %}

                                        {% if page_obj.has_next %}
                                            {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <span class="page-link">...</span>
                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                                            {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %} <li class="page-item"><a class="page-link"
                                                    href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                                        {% endif %}

                                        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Oldinga</a></li>
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </th>
            </tr>
        </tfoot>
        {% endif %}
    </table>
</div>
{% endblock content %}