{% extends 'assignments/base.html' %}

{% block title %}Tahrirlash{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item"><a href="/assignments/">Topshiriqlar</a></li>
    <li class="breadcrumb-item"><a href="/assignments/assignment/{{ass.id}}/">{{ass.title}}</a></li>
    <li class="breadcrumb-item bg-dark" aria-current="page">Tahrirlash</li>
{% endblock breadcrumb %}

{% block content %}
<div class='card bg-dark mb-3'>
    <ul class="nav nav-tabs bg-dark">
        <li class="nav-item">
            <a class="nav-link" href="/assignments/assignment/{{ass.id}}/"><i class='fa fa-person-chalkboard'></i> Dars</a>
        </li>
        {% if user.is_staff or user.is_teacher %}
        <li class="nav-item">
            <a class="nav-link bg-primary text-white" aria-current="page"><i class='fa fa-pen'></i> Tahrirlash</a>
        </li>
        <li class="nav-item">
            <a class="nav-link bg-danger text-white" href="/assignments/assignment/{{ass.id}}/delete/"><i class='fa fa-trash'></i> O'chirish</a>
        </li>
        {% endif %}
        {% if user.sinf == assignment.sinf and user in assignment.javoblar.all %}
        <li class="nav-item">
            <a class="nav-link" href="/assignments/assignment/{{ass.id}}/my-answer/"><i class='fa fa-file-pen'></i> Mening javobim</a>
        </li>
        {% endif %}
        {% if now > assignment.qachongacha or user.is_staff or user.is_teacher %}
        <li class="nav-item">
            <a class="nav-link" href="/assignments/assignment/{{ass.id}}/answers/"><i class='fa fa-check'></i> Javoblar</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="/assignments/assignment/{{ass.id}}/prices/"><i class='fa fa-medal'></i> Baholar</a>
        </li>

    </ul>
</div>
<div class="card bg-dark text-white">
    <div class="card-header p-3 text-center">
        <h2>Topshiriqni tahrirlash</h2>
    </div>
    <div class="card-body">
        <form method="post">{% csrf_token %}
            <div class="m-3">
                <label for="title">Topshiriq nomi</label>
                <input type="text" name="title" class="form-control bg-dark text-white" id="title" aria-describedby="titleHelp" required value="{{ass.title}}">
                <div id="titleHelp" class="form-text text-white">Siz sinf uchun taynlayotgan topshiriqning nomi</div>
            </div>
            <div class="m-3">
                <label for="info">Topshiriq matni</label>
                <textarea name="info" class="form-control" id="info" aria-describedby="infoHelp">{{ass.info|safe}}</textarea>
                <div id="infoHelp" class="form-text text-white">Siz sinf uchun taynlayotgan topshiriqning matni</div>
            </div>
            <div class="m-3 row g-2">
                <div class="col">
                    <label for="sinf">Sinf</label>
                    <select id="sinf" required name="sinf" class="bg-dark form-select" style="width:100%;">
                        {% for sinf in sinflar %}
                        <option value="{{sinf.nom}}" {% if ass.sinf == sinf.nom %}selected{% endif %}>{{sinf.nom}}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
            <div class="m-3 row g-2">
                <div class="col">
                    <label class="form-label">Topshirish sanasi</label>
                    <input type="datetime-local" required name="qachongacha" class="form-control bg-dark text-white" value="{{ass.qachongacha|date:'Y-m-d H:i'}}">
                    <div class="form-text text-white">O'quvchi mana shu vaqtdan keyin topshirsa ball kamayib keta veradi</div>
                </div>
                <div class="col">
                    <label class="form-label">Ball</label>
                    <input type="number" required name="max_ball" class="form-control bg-dark text-white" step="0.01" value="{{ass.max_ball|safe}}">
                    <div class="form-text text-white">O'quvchi maksimal olishi mumkin bo'lgan ball</div>
                </div>
            </div>
            <div class="m-3">
                <button type="submit" class="btn btn-primary">Saqlash</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block js1 %}
<script>
    tinymce.init({
        themes: "modern",
        skin: "oxide-dark",
        content_css: "dark",
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap',
    });

    $(function () {
          $("select").select2({
          });
    });
</script>
{% endblock %}