{% extends 'problems/base.html' %}

{% block title %}Masalalar{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item active" aria-current="page">Masalalar</li>
{% endblock breadcrumb %}

{% block content %}
    <table id="users-table" class="table table-dark table-striped table-hover table-responsive table-bordered border-dark table-sm" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Masala nomi</th>
                <th>Muallif</th>
                <th>Qiyinchiligi</th>
                <th>Turi</th>
                <th>Holati</th>
            </tr>
        </thead>
        <tbody >
            {% for task in tasks %}
                <tr>
                    <td class="text-white bg-dark" scope="col"><a type="button" href="{% url 'problem_detail' task.id %}">{{task.id}}</a></td>
                    <td class="text-white bg-dark" scope="col"><a type="button" href="{% url 'problem_detail' task.id %}">{{task.title}}</a></td>
                    <td class="text-white bg-dark" scope="col"><a type="button" href="{% url 'profile' task.author.username %}">{{task.author.username}}</a></td>
                    <td class="text-white bg-dark" scope="col">{{task.difficulty}}</td>
                    <td class="text-white bg-dark" scope="col">Odiiy</td>
                    <td class="text-success bg-dark" scope="col">{% if user in task.accepteds.all %}<i class="bx bx-check text-success" style="font-size:20px;"></i>{% elif user in task.wrong_answers.all %}<i class="bx bx-x text-danger" style="font-size:20px;"></i>{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.2/datatables.min.js"></script>
{% endblock content %}