 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
 @import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@1&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Josefin+Sans:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Rajdhani:wght@300&display=swap');

 :root {
     --header-height: 3.5rem;
     --nav-width: 219px;
     --first-color: #6923D0;
     --first-color-light: #201f22;
     --title-color: #d3d1d6;
     --text-color: #a19da8;
     --text-color-light: #bfbac6;
     --body-color: rgb(0, 0, 65);
     --green-color: rgb(0, 70, 0);
     --container-green-color: rgb(0, 60, 0);
     --container-color: rgb(0, 0, 55);
     --body-font: 'Poppins', sans-serif;
     --normal-font-size: .938rem;
     --small-font-size: .75rem;
     --smaller-font-size: .75rem;
     --font-medium: 500;
     --font-semi-bold: 600;
     --z-fixed: 100;
 }

 @media screen and (min-width: 1024px) {
     :root {
         --normal-font-size: 1rem;
         --small-font-size: .875rem;
         --smaller-font-size: .813rem;
     }
 }

 *,
 ::before,
 ::after {
     box-sizing: border-box;
 }

 body {
     margin: var(--header-height) 0 0 0;
     padding: 1rem 1rem 0;
     font-family: var(--body-font);
     font-size: var(--normal-font-size);
     background-color: var(--body-color);
     color: var(--text-color);
 }

 h3 {
     margin: 0;
 }

 a {
     text-decoration: none;
 }

 img {
     max-width: 100%;
     height: auto;
 }

 .header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: var(--container-color);
     box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
     padding: 0 1rem;
     z-index: var(--z-fixed);
 }

 .header__container {
     display: flex;
     align-items: center;
     height: var(--header-height);
     justify-content: space-between;
 }

 .header__img {
     width: 35px;
     height: 35px;
     border-radius: 50%;
 }

 .header__logo {
     color: var(--title-color);
     font-weight: var(--font-medium);
     display: none;
 }

 .header__search {
     display: flex;
     padding: .40rem .75rem;
     background-color: var(--first-color-light);
     border-radius: .25rem;
 }

 .header__input {
     width: 100%;
     border: none;
     outline: none;
     background-color: var(--first-color-light);
 }

 .header__input::placeholder {
     font-family: var(--body-font);
     color: var(--text-color);
 }

 .header__icon,
 .header__toggle {
     font-size: 1.2rem;
 }

 .header__toggle {
     color: var(--title-color);
     cursor: pointer;
 }

 .nav {
     position: fixed;
     top: 0;
     left: -100%;
     height: 100vh;
     padding: 1rem 1rem 0;
     background-color: var(--container-color);
     box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
     z-index: var(--z-fixed);
     transition: .4s;
 }

 .nav__container {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding-bottom: 3rem;
     overflow: auto;
     scrollbar-width: none;
 }

 .nav__container::-webkit-scrollbar {
     display: none;
 }

 .nav__logo {
     font-weight: var(--font-semi-bold);
     margin-bottom: 2.5rem;
 }

 .nav__list,
 .nav__items {
     display: grid;
 }

 .nav__list {
     row-gap: 2.5rem;
 }

 .nav__items {
     row-gap: 1.5rem;
 }

 .nav__subtitle {
     font-size: var(--normal-font-size);
     text-transform: uppercase;
     letter-spacing: .1rem;
     color: var(--text-color-light);
 }

 .nav__link {
     display: flex;
     align-items: center;
     color: var(--text-color);
 }

 .nav__link:hover {
     color: var(--first-color);
 }

 .nav__icon {
     font-size: 1.2rem;
     margin-right: .5rem;
 }

 .nav__name {
     font-size: var(--small-font-size);
     font-weight: var(--font-medium);
     white-space: nowrap;
 }

 .nav__logout {
     margin-top: 5rem;
 }

 .nav__dropdown {
     overflow: hidden;
     max-height: 21px;
     transition: .4s ease-in-out;
 }

 .nav__dropdown-collapse {
     background-color: var(--first-color-light);
     border-radius: .25rem;
     margin-top: 1rem;
 }

 .nav__dropdown-content {
     display: grid;
     row-gap: .5rem;
     padding: .75rem 2.5rem .75rem 1.8rem;
 }

 .nav__dropdown-item {
     font-size: var(--smaller-font-size);
     font-weight: var(--font-medium);
     color: var(--text-color);
 }

 .nav__dropdown-item:hover {
     color: var(--first-color);
 }

 .nav__dropdown-icon {
     margin-left: auto;
     transition: .4s;
 }

 .nav__dropdown:hover {
     max-height: 100rem;
 }

 .nav__dropdown:hover .nav__dropdown-icon {
     transform: rotate(180deg);
 }

 .show-menu {
     left: 0;
 }

 .active {
     color: var(--first-color);
 }

 @media screen and (max-width: 320px) {
     .header__search {
         width: 70%;
     }
 }

 @media screen and (min-width: 768px) {
     body {
         padding: 1rem 3rem 0 6rem;
     }

     .header {
         padding: 0 3rem 0 6rem;
     }

     .header__container {
         height: calc(var(--header-height) + .5rem);
     }

     .header__search {
         width: 300px;
         padding: .55rem .75rem;
     }

     .header__toggle {
         display: none;
     }

     .header__logo {
         display: block;
     }

     .header__img {
         width: 40px;
         height: 40px;
         order: 1;
     }

     .nav {
         left: 0;
         padding: 1.2rem 1.5rem 0;
         width: 68px;
     }

     .nav__items {
         row-gap: 1.7rem;
     }

     .nav__icon {
         font-size: 1.3rem;
     }

     .nav__logo-name,
     .nav__name,
     .nav__subtitle,
     .nav__dropdown-icon {
         opacity: 0;
         transition: .3s;
     }

     .nav:hover {
         width: var(--nav-width);
     }

     .nav:hover .nav__logo-name {
         opacity: 1;
     }

     .nav:hover .nav__subtitle {
         opacity: 1;
     }

     .nav:hover .nav__name {
         opacity: 1;
     }

     .nav:hover .nav__dropdown-icon {
         opacity: 1;
     }
 }

 .bg-dark {
     background-color: var(--body-color) !important;
 }

 .alert-danger {
     background-color: red !important;
     color: white !important;
     border-color: red !important;
 }

 .alert-success {
     background-color: green !important;
     color: white !important;
     border-color: green !important;
 }

 .pinned {
     background: rgba(0, 250, 250, .3) !important;
 }


 .btn-primary {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-secondary {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-danger {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-warning {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-success {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-info {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-light {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-outline-primary {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-outline-secondary {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-outline-danger {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-outline-warning {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-outline-success {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-outline-info {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn-outline-light {
     box-shadow: 7px 7px 14px black !important;
 }

 .btn:active {
     box-shadow: 0 0 0 black !important;
 }




 .breadcrumb {
     box-shadow: 1px 1px 2px black;
     border-radius: 10px;
     padding: 10px;
 }

 .text-black {
     color: black !important;
 }

 .bg-transparent {
     background-color: transparent !important;
 }

 .container-blue {
     background-color: var(--container-color) !important;
 }

 .container-green {
     background: rgb(0, 40, 0) !important;
 }

 .container-brown {
     background: rgb(85, 42, 42);
 }

 .container-black {
     background: rgb(40, 40, 40);
 }

 .theme-changer {
     position: fixed;
     z-index: 100;
     margin: 10px;
     bottom: 30px;
     right: 30px;
     border-radius: 50px;
     background-color: var(--container-color);
     box-shadow: 2px 2px 7px black;
 }

 .bg-black1 {
     background: rgb(70, 70, 70) !important;
 }

 .bg-green {
     background: rgb(0, 70, 0) !important;
 }

 .bg-brown {
     background: rgb(105, 62, 62) !important;
 }

 pre {
     border-radius: 20px !important;
 }

 table {
     position: relative;
 }

 .excel-btn {
     position: absolute;
     bottom: 0;
     right: 0;
 }

 img {
     cursor: zoom-in !important;
 }

 .img-modal {
     position: fixed;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     z-index: 100;
     display: none !important;
     align-items: center;
     text-align: center;
     background-color: rgba(0, 0, 0, 0.5);
 }

 .img-modal-active {
     display: block !important;
 }


 body::-webkit-scrollbar {
     width: 5px;
     height: 8px;
     background-color: transparent;
 }

 body::-webkit-scrollbar-thumb {
     background: rgb(77, 77, 77);
     border: 2px solid rgb(107, 107, 107);
     border-radius: 10px;
 }

 select::-webkit-scrollbar {
     width: 5px;
     height: 8px;
     background-color: transparent;
 }

 select::-webkit-scrollbar-thumb {
     background: rgb(77, 77, 77);
     border: 2px solid rgb(107, 107, 107);
     border-radius: 10px;
 }

 .dropdown-menu li {
     position: relative;
 }

 .dropdown-menu .dropdown-submenu {
     display: none;
     position: absolute;
     left: 100%;
     top: -7px;
 }

 .dropdown-menu .dropdown-submenu-left {
     right: 100%;
     left: auto;
 }

 .dropdown-menu li a:hover {
     background: blue !important;
 }

 .dropdown-menu>li:hover>.dropdown-submenu {
     display: block;
 }

 .table tr th {
     color: rgb(239, 235, 231) !important;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 body {
     color: #6F8BA4;
     margin-top: 20px;
 }

 .section {
     padding: 100px 0;
     position: relative;
 }

 .gray-bg {
     background-color: #f5f5f5;
 }

 img {
     max-width: 100%;
 }

 img {
     vertical-align: middle;
     border-style: none;
 }

 .about-text h3 {
     font-size: 45px;
     font-weight: 700;
     margin: 0 0 6px;
 }

 @media (max-width: 767px) {
     .about-text h3 {
         font-size: 35px;
     }
 }

 .about-text h6 {
     font-weight: 600;
     margin-bottom: 15px;
 }

 @media (max-width: 767px) {
     .about-text h6 {
         font-size: 18px;
     }
 }

 .about-text p {
     font-size: 18px;
     max-width: 450px;
 }

 .about-text p mark {
     font-weight: 600;
     color: #20247b;
 }

 .about-list {
     padding-top: 10px;
 }

 .about-list .media {
     padding: 5px 0;
 }

 .about-list label {
     color: #20247b;
     font-weight: 600;
     width: 88px;
     margin: 0;
     position: relative;
 }

 .about-list label:after {
     content: "";
     position: absolute;
     top: 0;
     bottom: 0;
     right: 11px;
     width: 1px;
     height: 12px;
     background: #20247b;
     -moz-transform: rotate(15deg);
     -o-transform: rotate(15deg);
     -ms-transform: rotate(15deg);
     -webkit-transform: rotate(15deg);
     transform: rotate(15deg);
     margin: auto;
     opacity: 0.5;
 }

 .about-list p {
     margin: 0;
     font-size: 15px;
 }

 @media (max-width: 991px) {
     .about-avatar {
         margin-top: 30px;
     }
 }

 .about-section .counter {
     padding: 22px 20px;
     background: #ffffff;
     border-radius: 10px;
     box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
 }

 .about-section .counter .count-data {
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .about-section .counter .count {
     font-weight: 700;
     color: #20247b;
     margin: 0 0 5px;
 }

 .about-section .counter p {
     font-weight: 600;
     margin: 0;
 }

 mark {
     background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
     background-size: 100% 3px;
     background-repeat: no-repeat;
     background-position: 0 bottom;
     background-color: transparent;
     padding: 0;
     color: currentColor;
 }

 .theme-color {
     color: #fc5356;
 }

 .dark-color {
     color: #20247b;
 }

 .w-2 {
     font-size: 20px;
     width: 90px;
     text-align: center;
     color: #fff !important;
     margin: 10px !important;
 }

 .tab {
     overflow: hidden;
     border: 1px solid #ccc;
     background-color: #f1f1f1;
     border: none;

 }

 /* Style the buttons inside the tab */
 .tab button {
     background-color: inherit;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 14px 16px;
     transition: 0.3s;
     font-size: 17px;
     border-radius: 20px;
 }

 /* Change background color of buttons on hover */
 .tab button:hover {
     background-color: black;
 }

 /* Create an active/current tablink class */
 .tab button.active {
     background-color: black;
 }

 /* Style the tab content */
 .tabcontent {
     display: none;
     padding: 6px 12px;
     border-top: none;
     animation: fadeEffect 1s;
 }

 /* Style the close button */
 .topright {
     float: right;
     cursor: pointer;
     font-size: 28px;
 }

 .topright:hover {
     color: red;
 }

 @keyframes fadeEffect {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }
 }

 .error-marker {
     color: black;
     width: 10px !important;
     background-color: #ff0000;
 }

 .error-marker .error-message {
     display: none;
     position: absolute;
     background-color: #ddd;
     border: 1px solid #999;
     padding: 6px;
     width: 140px;
     left: 15px;
     top: -1em;
 }

 .error-marker:hover .error-message {
     display: block;
 }



 .comments-div {
     overflow-y: scroll;
     position: relative;
     height: 600px;
 }

 .comments-div::-webkit-scrollbar {
     display: block;
 }

 .comments-div::-webkit-scrollbar {
     width: 5px;
     height: 8px;
     background-color: #222327;
     border-radius: 10px;
 }

 .comments-div::-webkit-scrollbar-thumb {
     background: #fff;
 }



 .chat-users {
     overflow-y: scroll;
     max-height: 79vh !important;
     height: 79vh !important;
     overflow-x: hidden;
 }

 .chat-users::-webkit-scrollbar {
     width: 5px;
     height: 8px;
     background-color: transparent;
 }

 .chat-users::-webkit-scrollbar-thumb {
     background: rgb(77, 77, 77);
     border: 2px solid rgb(107, 107, 107);
     border-radius: 10px;
 }

 #message::-webkit-scrollbar {
     width: 5px;
     height: 8px;
     background-color: transparent;
 }

 #message::-webkit-scrollbar-thumb {
     background: rgb(77, 77, 77);
     border: 2px solid rgb(107, 107, 107);
     border-radius: 10px;
 }

 .chat-messages {
     flex-direction: column;
     max-height: 70vh;
     overflow-y: scroll;
     height: 70vh;
 }

 .chat-messages::-webkit-scrollbar {
     width: 5px;
     height: 8px;
     background-color: transparent;
 }

 .chat-messages::-webkit-scrollbar-thumb {
     background: rgb(77, 77, 77);
     border: 2px solid rgb(107, 107, 107);
     border-radius: 10px;
 }

 .chat-message-left,
 .chat-message-right {
     display: flex;
     flex-shrink: 0
 }

 .chat-message-left {
     margin-right: auto;
     background-color: #201f22;
 }

 .chat-message-right {
     flex-direction: row-reverse;
     margin-left: auto;
     background-color: #6923D0;
 }

 .py-3 {
     padding-top: 1rem !important;
     padding-bottom: 1rem !important;
 }

 .px-4 {
     padding-right: 1.5rem !important;
     padding-left: 1.5rem !important;
 }

 .flex-grow-0 {
     flex-grow: 0 !important;
 }

 .border-top {
     border-top: 1px solid #dee2e6 !important;
 }

 .list-group-item {
     margin: 15px;
     border-bottom: 1.5px solid black !important;
     padding: 4px;
 }

 .answer.left {
     padding: 0 0 0 58px;
     text-align: left;
     float: left;
 }

 .answer {
     position: relative;
     max-width: 600px;
     overflow: hidden;
     clear: both;
 }

 .answer.left .avatar {
     left: 0;
 }

 .answer .avatar {
     bottom: 36px;
 }

 .avatar {
     width: 40px;
     height: 40px;
     position: absolute;
 }

 .avatar img {
     display: block;
     border-radius: 20px;
     height: 100%;
 }

 .name {
     font-size: 14px;
     line-height: 36px;
 }

 .answer.left .avatar .status {
     right: 4px;
 }

 .answer .avatar .status {
     bottom: 0;
 }

 .answer.left .text {
     background: #ebebeb;
     color: #333333;
     border-radius: 8px 8px 8px 0;
 }

 .answer .text {
     padding: 12px;
     font-size: 16px;
     line-height: 26px;
     position: relative;
 }

 .answer.left .text:before {
     left: -30px;
     border-right-color: #ebebeb;
     border-right-width: 12px;
 }

 .answer .text:before {
     content: '';
     display: block;
     position: absolute;
     bottom: 0;
     border: 18px solid transparent;
     border-bottom-width: 0;
 }

 .answer.left .time {
     padding-left: 12px;
     color: #c7c1c1 !important;
 }

 .answer .time {
     font-size: 16px;
     line-height: 36px;
     position: relative;
     padding-bottom: 1px;
 }

 /*RIGHT*/
 .answer.right {
     padding: 0 58px 0 0;
     text-align: right;
     float: right;
     margin-left: 30%;
 }

 .answer.right .avatar {
     right: 0;
 }

 .answer.right .avatar .status {
     left: 4px;
 }

 .answer.right .text {
     background: #7266ba;
     color: #ffffff;
     border-radius: 8px 8px 0 8px;
 }

 .text:before {
     right: -30px;
     border-left-color: #7266ba;
     border-left-width: 12px;
 }

 .answer.right .time {
     padding-right: 12px;
     color: #cac3c3 !important;
 }

 .chat-search {
     background: var(--body-color);
     position: sticky;
     z-index: 10;
     width: 100%;
 }

 input.bg-dark::placeholder {
     color: white !important;
 }

 .chat-left {
     display: inline;
 }

 .chat-header {
     display: block;
 }

 #back-button {
     display: none;
 }

 .last {
     position: absolute;
     bottom: 50px;
     right: 40px;
     z-index: 1000;
 }

 .pinned-user {
     background-color: rgba(0, 0, 0, 0.5);
 }

 .pinned-user:hover {
     background-color: rgba(0, 0, 0, 0.5);
 }

 .add_chat {
     position: absolute;
     bottom: 20px;
     left: 30px;
     z-index: 10000000;
 }

 @media screen and (max-width:990px) {
     .bg-noner {
         display: none;
     }
 }


 .emojiarea-editor {
     width: 80%;
     border: none;
     outline: none;
     border-bottom: 1px solid white;
     max-height: 90px;
     border-radius: 10px;
 }

 .emojiarea-editor::-webkit-scrollbar {
     width: 5px;
     height: 8px;
     background-color: black;
     border-radius: 10px;
 }

 .emojiarea-editor::-webkit-scrollbar-thumb {
     background: #fff;
     border-radius: 10px;
 }


 @import url(https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css);

 .select2-results {
     background-color: #1e1d1f;
 }

 .select2-search input {
     background-color: #1e1d1f;
     color: white;
     margin: 0;
 }

 .select2-selection__rendered {
     background-color: #1e1d1f !important;
 }



 @media screen and (max-width:800px) {
     .w-2 {
         width: 30px;
         font-size: 15px;
     }
 }

 @media screen and (max-width:1200px) {
     .w-2 {
         width: 50px;
         font-size: 20px;
     }
 }

 @media screen and (max-width:600px) {
     .w-2 {
         width: 20px;
         font-size: 10px;
     }
 }

 @media screen and (max-width:400px) {
     .w-2 {
         width: 16px;
         font-size: 10px;
     }
 }

 .breadcrumb {
     margin-top: 40px;
 }


 #img-modal-img {
     opacity: 1 !important;
     width: 80%;
     cursor: zoom-out !important;
 }

 @media screen and (max-height:750px) {
     #img-modal-img {
         height: 70% !important;
         width: auto !important;
     }
 }

 @media screen and (max-height:1830px) and (min-height: 750px) {
     #img-modal-img {
         height: 80% !important;
         width: auto !important;
     }
 }

 @media screen and (max-height:1130px) and (min-height: 850px) {
     #img-modal-img {
         height: 80% !important;
         width: auto !important;
     }
 }