{% extends 'base.html' %}

{% block title %}
400 - NOTO'G'RI SO'ROV
{% endblock title %}

{% block content %}
    <div class="card bg-dark text-center h1" style="padding: 200px 80px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <span class="text-danger">400 - NOTO'G'RI SO'ROV</span> Yubordingiz
        <span class="fs-6"><a href="/" class="fs-6"><i class="fa fa-home"></i>Bosh sahifa</a>ga qaytish</span>
    </div>
{% endblock content %}