{% extends 'base.html' %}

{% block title %}
500 - Dastur xatoligi
{% endblock title %}

{% block content %}
    <div class="card bg-dark text-center h1" style="padding: 200px 80px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <span class="text-danger">500 - Dastur xatoligi</span>
        <span class="fs-6">Iltimos amdinlarga xabar bering!<br><a href="/" class="fs-6"><i class="fa fa-home"></i>Bosh sahifa</a>ga qaytish</span>
    </div>
{% endblock content %}