<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | Specialized School</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/monokai.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css" integrity="sha512-YFENbnqHbCRmJt5d+9lHimyEMt8LKSNTMLSaHjvsclnZGICeY/0KYEeiHwD1Ux4Tcao0h60tdcMv+0GljvWyHg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/fontawesome.min.css" integrity="sha512-cHxvm20nkjOUySu7jdwiUxgGy11vuVPE9YeK89geLMLMMEOcKFyS2i+8wo0FOwyQO/bL8Bvq1KMsqK4bbOsPnA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.2/datatables.min.css"/>
    <link rel="stylesheet" href="/static/froala-editor/css/froala_editor.pkgd.min.css">

    <link rel="stylesheet" href="/static/froala-editor/css/themes/dark.min.css">

    <link rel = "icon" href="/static/logo/white-logo.png"
        type = "image/x-icon">

    <link rel="stylesheet" href="/static/styles/styles20.css">
</head>

<body class="container dark">

    <div class="rounded">
        <div class="navbar1">
            <i class="fa fa-bars sidebar_toggler" id="sidebar-toogle"></i> <a class="nav-title" href="/"> BD Specialized School</a>
            <ul class="items">
                {% if user.is_authenticated %}
                <li class="item">
                    <i class="fa fa-sun" id="theme-toggler"></i>
                </li>
                <li class="item">
                    <div class="dropdown-center">
                        <a class="fs-6" role="button" type="button" data-bs-auto-close="inside" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <div class="dropdown-menu bg-dark" id="notifications">
                            Sizda hech qanday bildirishnoma yo'q
                        </div>
                    </div>
                </li>
                <li class="item">
                    <div class="dropdown-center">
                        <a class="fs-6" role="button" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{user.username|title}} <i class="fa fa-user"></i>
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item" href="/users/profile/{{user.username}}/"><i class="fa fa-user"></i> Profil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/users/update/"><i class="fa fa-pen"></i> Tahrirlash</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/chats/"><i class="fa fa-comment"></i> Suhbatlar</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% if user.is_staff or user.is_teacher %}
                            <li><a class="dropdown-item" href="/informatics/problems/add/"><i class="fa fa-plus"></i> Masala Qo'shish</a></li>
                            <li><a class="dropdown-item" href="/posts/add/"><i class="fa fa-plus"></i> Yangilik Qo'shish</a></li>
                            <li><a class="dropdown-item" href="/assignments/add/"><i class="fa fa-plus"></i> Topshiriq Berish</a></li>
                            <li><a class="dropdown-item" href="/controls/create/"><i class="fa fa-plus"></i> Nazorat boshlash</a></li>
                            <li><a class="dropdown-item" href="/tests/add/"><i class="fa fa-plus "></i> Test Qo'shish</a></li>
                            <li><a class="dropdown-item" href="/courses/add/"><i class="fa fa-plus "></i> Kurs Qo'shish</a></li>
                            <li><a class="dropdown-item" href="/users/add-super-user"><i class="fa fa-plus "></i> Admin Qo'shish</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-danger" href="/users/logout/"><i class="fa fa-arrow-left"></i> Chiqib ketish</a></li>
                        </ul>
                    </div>
                </li>
                {% else %}
                <li class="item">
                    <i class="fa fa-sun" id="theme-toggler"></i>
                </li>
                <li class="item">
                    <div class="dropdown-center">
                        <a class="fs-6" role="button" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Authentikatsiya <i class="fa fa-user"></i>
                        </a>
                        <ul class="dropdown-menu bg-dark">
                            <li><a class="dropdown-item" href="/users/login/"><i class="fa fa-arrow-right"></i> Kirish</a></li>
                            <li><a class="dropdown-item" href="/users/signup/"><i class="fa fa-plus"></i> Ro'yxatdan o'tish</a></li>
                        </ul>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="sidebar">
        <ul class="s-items">
            <li class="s-item active">
                <a href="/"><i class="fa fa-home"></i> Bosh sahifa</a>
            </li>

            <li class="s-item" id="classes">
                <a href="/classes/"><i class="fa fa-box"></i> Sinflar</a>
            </li>

            <li class="s-item" id="tests">
                <a href="/tests/"><i class="fa fa-question"></i> Testlar</a>
            </li>

            <li class="s-item" id="posts">
                <a href="/posts/"><i class="fa fa-pen"></i> E'lonalar</a>
            </li>

            <li class="s-item" id="controls">
                <div class="dropdown-center">
                    <a class="fs-6 sidebar-dr-opener" role="button" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-dumbbell"></i> Mashg'ulotlar
                    </a>
                    <ul class="dropdown-menu bg-dark">
                        <li><a class="dropdown-item" href="/controls/"><i class="fa fa-bar-chart"></i> Nazoratlar</a></li>
                        <li><a class="dropdown-item" href="/assignments/"><i class="fa fa-person-chalkboard"></i> Darslar</a></li>
                        <li><a class="dropdown-item" href="/courses/"><i class="fa fa-book"></i> Kurslar</a></li>
                    </ul>
                </div>
            </li>

            <li class="s-item" id="problems">
                <div class="dropdown-center">
                    <a class="fs-6 sidebar-dr-opener" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fas fa-code"></i> Dasturlash
                    </a>
                    <ul class="dropdown-menu bg-dark">
                        <li><a class="dropdown-item" href="/informatics/problems/"><i class="fa fa-book"></i> Masalalar</a></li>
                        <li><a class="dropdown-item" href="/informatics/attempts/"><i class="fab fa-strava"></i> Urinishlar</a></li>
                        
                        <li><a class="dropdown-item" href="/informatics/info/"><i class="fa fa-info"></i> Ma'lumot</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    {% if messages %}
    {% for messege in messages %}

        {% if messege.tags == "error" %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{messege|safe}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% else %}
            <div class="alert alert-{{ messege.tags }} alert-dismissible fade show" role="alert">
                {{messege|safe}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
    {% endif %}

    <nav aria-label="breadcrumb mb-1">
        <ol class="breadcrumb">
            {% block breadcrumb %}
            {% endblock breadcrumb %}
        </ol>
    </nav>

    {% block content %}

    {% block breadgrumb %}

    {% endblock breadgrumb %}

    {% endblock content %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
        integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
        integrity="sha512-24XP4a9KVoIinPFUbcnjIjAjtS59PUoxQj3GNVpWc86bCqPuy3YxAcxJrxFCxXe4GHtAumCbO2Ze2bddtuxaRw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.2/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js">
        </script>
    
    <script>hljs.initHighlighting.called = false; hljs.initHighlighting();</script>
    
    
    
    <script src="https://cdn.tiny.cloud/1/17a7wrogyqde5oyr8zrqqq2htjo86oedjrlbztd41drtencr/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/static/froala-editor/js/froala_editor.pkgd.min.js"></script>

    <script src="https://unpkg.com/typed.js@2.0.15/dist/typed.umd.js"></script>


    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/codemirror.min.js" integrity="sha512-FTEUWSdvusp7brvA5viQQB4I/vO+r6Z86Ag0XXnfKg9ob+WxG+ZylZSkQyjPUgOWejEWqkgOXk5BP2qQXYINhg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/codemirror.min.css" integrity="sha512-ZOZcMHkHfVIzrsVp4h8FzPiZc5n9tcuM+fKwPvz/dEHcfZJYVzukAJ9TqGaTijQVySEqQ02BRDX+XjPslxB8Aw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/keymap/emacs.min.js" integrity="sha512-GfpYtnOXNeaCVPAr3jos+Y7jytk8kh0GD0aX8dO1tBKNmtQMuc6BUI851CZidnyNDSPpj+6SVMDJbmoRIwGpYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/theme/dracula.min.css" integrity="sha512-PqtRKc9nbcvvS3Wn6UqlHTt+mXqygXoi5Cf3DlbzHQ1Bh8Oy1jy/T9hLXm3Y7Zaws9EeZpzjwgUYiTrqJRIeKg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/mode/python/python.min.js" integrity="sha512-ccH9hsnuXxYtirslEOBqartIni0Msc7JmX0Y8P+vRI7iMb2sqomTCampYRkRZ7m0in4zHZFg+xDsw3elQ1MK5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/mode/clike/clike.min.js" integrity="sha512-bbdXuaEjLaYYk5B3LLAeyvhEJv+jttYTkQymZDJTn+RAd3uPW4wbyPeE9lrvo6RtkyxL++2jp3ymOMOO/8+keg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/theme/night.min.css" integrity="sha512-lWqzaUq24NlXuYtppRBJnDtF/hKV4C7W6PMyMzcgFviNymrMTw7KH2B4akXa2rRnsSgDd5ksukfBpnSSGiMHdw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/theme/monokai.min.css" integrity="sha512-xTAcmDh9LVfdwYnQWuOwTc/pjzAOp5ErJU4VXB8uV7SJblCftdXHFY7q1yhZudlxsPg0VcNJlgE5cVAHxdGYdg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/theme/cobalt.min.css" integrity="sha512-tKBDfUQMv6xKnWvejncwo2Sy071i868BSD8COPxMjXfw8u9Yj78Cf7O7kxjxUcskgMmVCwZEcqbx0DWlr0fdAA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/theme/lesser-dark.min.css" integrity="sha512-tzLGNciX/1ZCstiFruROrXcpn6q0YXzPlu+JvqAP6wTc5AYgv5p4ouwZifF03D0Ci41nQmdRS81uKKWnv6hPgw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/theme/material.min.css" integrity="sha512-OiZ648zyhcnn7PTezvz5s6eQPjy1PMYKyp1RH6fBWYCQVqo33NE9QrBTBtqZpMzGIg8x0OeECntQpHwYSi3oAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/theme/midnight.min.css" integrity="sha512-zfUUWVejsfEYYn4BL0Oxzfa5Judasq3Hn9lsazEkc9zQxVGlNFZohOD/QzvnhhmE7b92uTrZW0x7EXvSuvNpJw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/theme/isotope.min.css" integrity="sha512-CnulQ96wwEgfPfiMDlGh70ZTKknu+X+rqOP16qbdwnqacDHJAvhT+VDYGmN2Zf163jCLQk89XkBNgSrs177R+Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/theme/icecoder.min.css" integrity="sha512-oGrnp4kO2prdwhtUDtRu4KEJHu+y3cGR0GlDBwxk5qgZDKimbLyLgptBKhKFwqjf5+ee1hZGhmH3dvOq/0byGA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/theme/erlang-dark.min.css" integrity="sha512-QNwb0jrq1ndaBGanTGQ92Jc2wrLLvqZInEpQVUIRfhk8B0i5rsVtcch5eOLrdASkLLhIwd3Fnggt9zL+sy4jFw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.16.0/theme/eclipse.min.css" integrity="sha512-q5T+z2B2SvVgaiFVz6cpb84umuFRI8H8o9+aYjwk8A48IX4sIEyKtWgxJYI6z9FcDRdXjIXJEPOUdBt8NiECmg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/edit/closebrackets.min.js" integrity="sha512-tsjcYO5hFvViRssxiM7Jhd8601epWOx1He3Hl4yuI5dKKPxr43KxkOhc9GZeeqzlYJm9ABb7UPA9697NiqZZ7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/edit/matchbrackets.min.js" integrity="sha512-GSYCbN/le5gNmfAWVEjg1tKnOH7ilK6xCLgA7c48IReoIR2g2vldxTM6kZlN6o3VtWIe6fHu/qhwxIt11J8EBA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/fold/indent-fold.min.js" integrity="sha512-Q6g5qQfa6ko+Y+0BwAciUAq01qxgfScTPFP2Fsrr+zIrTe5Yq3tN5xaA919MmBs/1RMz/jyctknYavjc3k+/xg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/scroll/annotatescrollbar.min.js" integrity="sha512-SPKYZCZyjHhQngKdsnTUX0Cb3+gx53U0nVUs/VAV7zYrLdDBmqRi3EF8gevJS6ft1OstIt8BZFEY4TTuVBKbhQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/scroll/simplescrollbars.min.css" integrity="sha512-2y3NTsei81d5emn5nwrdflyI5EGULwKXRZ0BCbO55cjgQ8x62X4ydH/jbnzrKnxArstf79F9n6z1j2MtVmJ8YA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/scroll/simplescrollbars.min.js" integrity="sha512-1Vc3i/yplqkVbJBGgEpx9odVj3SLHMx2EOsQOMJsHbM5LRPL2iaPH2sEE+8sZOCqvuXGignKEwmTqO6/b11RqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/search/jump-to-line.min.js" integrity="sha512-cFdaiExVrVnsHaQhcn3wR9zyndnXI6w7diUSonYbGoV6v/PgBEGZevVC4gvg+Jz5yfO3K0/r1ZMk3+IcdEl+pQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/search/match-highlighter.min.js" integrity="sha512-94h/nzerPpLt9vsOyZmNNemwyUESYD/Tnuem6b67+RQMETNFhH8pTCHLDZkGNhzEbmKO0AidJgS0aYH1mH9YfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/mode/overlay.min.js" integrity="sha512-SNwKDMYQwymOPjleeZy1xbdlK1PAjJ6EAplvx0CvNFJbW/pF5ec3h0mAdDl1yySq9r3Qont4STM4W3le7FTm9w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/display/fullscreen.min.css" integrity="sha512-T8xB3MmwpA77VK9lUH3UkdUTnkmpqOxHF8OceOKaHrvpcXMSNX0xtpa9FoLTDAVO1JnB2UiMdVeI2V0HTHjTWA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/display/fullscreen.min.js" integrity="sha512-8Rk4wB3MfgQfuOw95XW/vAU8PSTHWI5HddVRXfg+Ykk8CzsiOZkDpxVSrnYq2u/IqO499ooZ61fFHppuzB2ghA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js" integrity="sha512-I6CdJdruzGtvDyvdO4YsiAq+pkWf2efgd1ZUSK2FnM/u2VuRASPC7GowWQrWyjxCZn6CT89s3ddGI+be0Ak9Fg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/ruby/ruby.min.js" integrity="sha512-kIWQdD2Oq6DBWghYgnP6MpRMCuPxBvSI8/UBo7yxVm1blEPnNxVkwypVXky2KmIUgN2oNN7yd5TCeXJ48e867A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/go/go.min.js" integrity="sha512-dh8pBX6P5WZ63k5cSrF64G2QqKAHnLCjnP7vZOmz4peYWedM5lXyH/AqpUldSFBtubTK54kmwN6XAn/T2sVDVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/addon/comment/comment.min.js" integrity="sha512-UaJ8Lcadz5cc5mkWmdU8cJr0wMn7d8AZX5A24IqVGUd1MZzPJTq9dLLW6I102iljTcdB39YvVcCgBhM0raGAZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>





    <script src="/static/mainca9.js"></script>

    {% block js %}

    {% endblock js %}
</body>

</html>