{% extends 'base.html' %}

{% block title %}Bosh sahifa{% endblock title %}



{% comment %}
{% block content %}
    <div class="card bg-dark text-white">
        <div class="card-header">
            <h2>Bu qanday <i>Platforma</i>?</h2>
        </div>
        <div class="card-body">
          <h5> <b><font face="Times New Roman" ><p align="justify">Ushbu integrallashgan LMS - platforma PTMA Bekobod tuman ixtisoslashtirilgan maktabida Informatika va axborot texnologiyalari fanini
            o'rganish uchun xizmat qiladi. Bu yerda ta'lim beruvchi va ta'lim oluvchilar real vaqtda dars mashg'ulotlarini o'tkazadilar, iqtidorli o'quvchilar fan olimpiadalariga
            tayyorgarlik ko'radilar </p></font></b> </h5>
            <br> <h6> <b><i> <font face="Times New Roman" ><p align="right">Biz jahonni - bilim ila zabd eturmiz </p></font></i></b> </h6>

        </div>
    </div>
    <div class="card bg-dark text-white my-4">
        <div class="card-header">
            <h3>Hozirgi vaqtda</h3>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="card bg-dark text-white" style="border:none;">
                    <div class="card-title">
                        <h4>Foydalanuvchilar</h4>
                    </div>
                    <div class="card-body">
                        {{users.count}} ta
                    </div>
                </div>
                <div class="coll">
                    <div class="card bg-dark text-white" style="border:none;">
                        <div class="card-title">
                            <h4>Savollar</h4>
                        </div>
                        <div class="card-body">
                            {{tasks.count}} ta
                        </div>
                    </div>
                </div>
                <div class="card bg-dark text-white" style="border:none;">
                    <div class="card-title">
                        <h4>Postlar</h4>
                    </div>
                    <div class="card-body">
                        {{posts.count}} ta
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% endcomment %}

{% block content %}
    <div class="row mb-3 bg-dark text-white">
            <div class="col-12 bg-dark text-white">
                <div class="card bg-dark text-white">
                    <div class="card-body bg-dark text-white">
                        <div class="row bg-dark text-white">
                            <div class="col-12 mb-3">
                                <h2>Bu qanday Platforma?</h2>
                            </div>

                            <div class="col-12 col-lg-8 col-md-6 mb-3 bg-dark text-white">
                                <div><h5> <b><font face="Times New Roman" ><p align="justify">Ushbu integrallashgan LMS - platforma PTMA Bekobod tuman ixtisoslashtirilgan maktabida Informatika va axborot texnologiyalari fanini
                                    o'rganish uchun xizmat qiladi. Bu yerda ta'lim beruvchi va ta'lim oluvchilar real vaqtda dars mashg'ulotlarini o'tkazadilar, iqtidorli o'quvchilar fan olimpiadalariga
                                    tayyorgarlik ko'radilar </p></font></b> </h5>
                                    <br> <h6> <b><i> <font face="Times New Roman" ><p align="right">Biz jahonni - bilim ila zabd eturmiz </p></font></i></b> </h6></div>
                            </div>

                            <div class="col-12 col-lg-4 col-md-6">
                                <div class="card mt-1 overflow-hidden bg-dark text-white">
                                    <img src="static/logo/photo_2022-09-06_21-20-111.jpg" id="img-logo" alt="sschool.uz" width="100%">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card bg-dark">
            <div class="card-header p-3"><h2>Tizimdagi kuchli <span class="text-info">5</span> lik</h2></div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr class="p-2">
                            <th>Foydalanuvchi nomi</th>
                            <th>Ismi sharifi</th>
                            <th>Ball</th>
                        </tr>
                    </thead>
                    <tbody id="top-users">
                        <tr class="p-3">
                            <td colspan="3" class="text-center">Biroz sabr qiling!!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
{% endblock content %}

{% block js %}
    <script>
        var top_users_table = document.querySelector('#top-users');
        $.ajax(
            {
                type: 'GET',
                url: '/users/get_top_users/',
                success: (data) => {
                    var html = ''
                    for (let [username, user] of Object.entries(data)){
                        html += `
                            <tr class="p-3">
                                <td><a href="/users/profile/${user.username}">${user.username}</a></td>
                                <td>${user.full}</td>
                                <td>${user.ball}</td>
                            </tr>
                        `;
                    };
                    top_users_table.innerHTML = html;
                },
                error: (e) => {
                    console.log(e)
                },
            },
        );
    </script>
{% endblock js %}