{% extends 'base.html' %}

{% load static %}

{% block title %}Qidiruv natijasi{% endblock title %}

{% block content %}
        <div class="card bg-dark text-white my-3">
            <div class="card-header">
                Foydalanuvchilar
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered border-white bg-dark text-white">
                        <thead>
                            <tr>
                                <th scope="col">Foydalanuvchi nomi</th>
                                <th scope="col">Ismi sharif</th>
                                <th scope="col">Sinf</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for teacher in users %}
                                <tr>
                                    <td><a href="{% url 'profile' teacher.username %}">{{teacher.username}}</a></td>
                                    <td>{{teacher.first_name}} {{teacher.last_name}}</td>
                                    <td>{{teacher.sinf|title}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card bg-dark text-white my-3">
            <div class="card-header">
                Po'stlar
            </div>
            <div class="card-body">
                <div class="row row row-cols-1 row-cols-md-3 g-4">
                    {% for post in posts %}
                        <div class="col">
                            <a href="{% url 'post' post.id %}"><div class="card bg-dark text-white h-100" style="width: 18rem;">
                                <div class="card-header">
                                    <h5 class="text-white">{{post.title}}</h5>
                                </div>
                                <img src="{% static 'logo/post-logo.png' %}" class="card-img-top" alt="...">
                                <hr class="bg-light"><a href="{% url 'profile' post.author.username %}"><div class="card-middle">
                                    <div class="bg-dark text-white user-status">
                                        <div class="card-body d-inline p-1">
                                            <img src="https://icon-library.com/images/teacher-icon-png/teacher-icon-png-17.jpg" class="header__img">
                                            <span style="font-size:20px;">{{post.author.username|title}}</span><br><span class="fw-lighter px-3 text-white-50" style="font-size:15px;">{{post.author.email}}</span>
                                        </div>
                                    </div>
                                </div></a><hr>
                                <div class="card-body">
                                    <p class="card-text">{{ post.content|safe|slice:':60' }}....</p>
                                </div>
                                <div class="card-footer">
                                    <small class="">{% if post.date_updated %}Last updated: {{post.date_updated|date:'d-m-Y'}}{% else %}Created: {{post.date_created|date:'d-m-Y'}}{% endif %}</small>
                                </div>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card bg-dark text-white my-3">
            <div class="card-header">
                Testlar
            </div>
            <div class="card-body">
                <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                    {% for test in quizess %}
                        {% if test.is_active %}
                            <div class="card bg-dark text-white m-4">
                                <div class="card-title">
                                    <h3><a href="{% url 'test_detail' test.id %}">{{test.title}}</a></h3>
                                </div>
                                <div class="card-body">
                                    {{test.about|safe}}
                                </div>
                                <div class="card-footer">
                                    Testlar soni: <b>{{test.answer.count}}</b>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock content %}