{% extends 'tests/base.html' %}

{% block title %}Yangi savol{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item"><a href="/tests/">Testlar</a></li>
    <li class="breadcrumb-item"><a href="/tests/test/{{test.id}}/">{{test.title}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Savol qo'shish</li>
{% endblock breadcrumb %}

{% block content %}
    {% if is_staff or user.is_teacher  %}
    <div class="card bg-dark text-white">
            <div class="card-body">
                <a href="{% url 'test_detail' test.id %}" class="btn btn-outline-primary mx-2">Test haqida</a>
                <a class="btn btn-outline-primary mx-2" href="{%  url 'add_test_question' test.id %}">Savol qo'shish</a>
                {% if test.is_active %}
                {% else %}
                    <a href="{% url 'actived_test' test.id %}" class="btn btn-outline-primary">Chop etish</a>
                {% endif %}
                <a href="{% url 'edit_test' test.id %}" class="btn btn-outline-primary mx-2">Tahrirlash</a>
            </div>
        </div>
    {% endif %}
    <div class="card bg-dark text-white">
        <div class="card-header">
            Savol qo'shish
        </div>
        <div class="card-body">
            <form method="post">{% csrf_token %}
                <div class="input">
                    <div class="card bg-dark text-white">
                        <div class="card-header">
                            <label for="id_title" class="form-label">Test matni</label>
                            <textarea required name="quiz-title" id="id_title" class="form-control bg-dark text-white"></textarea>
                        </div>
                        <div class="card-body" id="answers">
                            <button type="button" id="add_button" class="btn btn-outline-primary m-3"><i class="bx bx-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="my-3 mx-2">
                    <button type="submit" class="btn btn-outline-primary">Saqlash</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        tinymce.init({
        themes: "modern",
        skin: "oxide-dark",
        content_css: "dark",
        selector: 'textarea',
        plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
        toolbar: 'undo redo | fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap',
      });
    </script>
    <script>
        var form_count = 0;
        document.querySelector('#add_button').addEventListener('click', () => {
                form_count++;
                var i_g_d = document.createElement('div');
                i_g_d.className = 'input-group bg-dark text-white mb-3';
                var i_2_d = document.createElement('div');
                i_2_d.className = 'input-group-text bg-dark text-white border-dark';
                i_g_d.appendChild(i_2_d);
                var radio = document.createElement('input');
                radio.type = 'radio';
                radio.name = 'is_true';
                radio.className = 'form-check-input mt-0';
                radio.value = `${form_count}`;
                i_2_d.appendChild(radio);
                var input = document.createElement('textarea');
                input.type = 'text';
                input.name = `answer-${form_count}`
                input.required = true;
                input.className = 'form-control bg-dark text-white';
                i_g_d.appendChild(input);
                var i_g_t = document.createElement('label');
                i_g_t.className = 'input-group-text btn btn-danger bx bx-minus';
                i_g_t.onclick = function() {
                    return this.parentNode.remove();
                }
                i_g_d.appendChild(i_g_t)
                document.querySelector('#answers').appendChild(i_g_d);
                tinymce.init({
                    themes: "modern",
                    skin: "oxide-dark",
                    content_css: "dark",
                    selector: 'textarea',
                    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
                    toolbar: 'undo redo | fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap',
                  });
            })
    </script>

{% endblock content %}