{% extends 'tests/base.html' %}

{% block title %}Barcha testlar{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item active" aria-current="page">Testlar</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        {% for test in tests %}
            {% if test.is_active %}
                <div class="card bg-dark text-white">
                    <div class="card-title m-2">
                        <h3><a href="{% url 'test_detail' test.id %}">{{test.title}}</a></h3>
                    </div>
                    <div class="card-body">
                        {{test.about|safe}}
                    </div>
                    <div class="card-footer">
                        Testlar soni: <b>{{test.answer.count}}</b>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}