{% extends 'tests/base.html' %}

{% block title %}
    {{test.title|title}}
{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item"><a href="/tests/">Testlar</a></li>
    <li class="breadcrumb-item active text-white" aria-current="page">{{test.title|title}}</li>
{% endblock breadcrumb %}

{% block content %}
<div class="card bg-dark p-2 my-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link bg-primary text-white" aria-current="page" href="#"><i class="fa fa-question"></i> Test</a>
        </li>
        {% if user.is_staff or user == test.author %}
        <li class="nav-item">
            <a class="nav-link" href="/tests/test/{{test.id}}/edit/"><i class="fa fa-pen"></i> Tahrirlash</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/tests/test/{{test.id}}/add-quiz/"><i class="fa fa-plus"></i> Savol Qo'shish</a>
        </li>
        {% if not test.is_public %}
        <li class="nav-item">
            <a class="nav-link" href="/tests/test/{{test.id}}/public/"><i class="fa fa-globe"></i> Ommaviy qilish</a>
        </li>
        {% endif %}
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="/tests/test/{{test.id}}/results/"><i class="fa fa-chart-bar"></i> Natijalar</a>
        </li>
        {% if user in test.users.all %}
        <li class="nav-item">
            <a class="nav-link" href="/tests/test/{{test.id}}/result/"><i class="fa fa-chart-simple"></i> Natijam</a>
        </li>
        {% endif %}
    </ul>
</div>

    <div class="card bg-dark p-2">
        <div class="text-center fs-3 mb-2">{{test.title}}</div>
        <hr>
        <p class="mb-3">{{test.summary|safe}}</p>
        <table class="table">
            <tr>
                <td>Muallif</td>
                <td><a href="/users/profile/{{test.author.username}}">{{test.author.first_name}} {{test.author.last_name}}</a></td>
            </tr>
            <tr>
                <td>Qatnashganlar</td>
                <td>{{test.users.count}}</td>
            </tr>
            <tr>
                <td>Savollar Soni</td>
                <td>{{test.quizes_count}}</td>
            </tr>
            <tr>
                <td>Beriladigan vaqt</td>
                <td>{{test.time}}</td>
            </tr>
        </table>
        <div class="">
            {% if user in test.users.all %} <a href="result/" class="btn btn-primary">Natijam</a>{% elif user in test.not_actioned_users.all %}<a href="quizes/" class="btn btn-primary">Savollarga o'tish</a>{% else %}<a href="start/" class="btn btn-success">Testda ishtirok etish</a>{% endif %}
        </div> 
    </div>
{% endblock content %}