{% extends 'tests/base.html' %}

{% block title %}Natija{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item"><a href="/tests/">Testlar</a></li>
    <li class="breadcrumb-item"><a href="/tests/test/{{test.id}}/">{{test.title}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Javobni yuborish</li>
{% endblock breadcrumb %}

{% block content %}
    {% for key, value in data.items %}
        <div class="alert {% if value %}alert-success{% else %}alert-danger{% endif %}"><h3>{% if value %}To'g'ri{% else %}Natog'ri{% endif %}</h3></div>
    {% endfor %}
    <div class="bg-dark text-white card">
        <div class="card-body">
            <h5>Siz to'plagan ball: <i><b>{{scope}} B</b></i></h5>
        </div>
    </div>
{% endblock content %}