{% extends 'tests/base.html' %}

{% block title %}{{test.title}}{% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
    <li class="breadcrumb-item active" aria-current="page">Testlar</li>
    <li class="breadcrumb-item"><a href="/tests/test/{{test.id}}/">{{test.title}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Savollar</li>
{% endblock breadcrumb %}

{% block content %}
    <h3 class="mx-2">{{test.title}}</h3><hr>
    <div class="bg-dark text-white">
        {{test.about|safe}}
    </div>
    <div class="card bg-dark text-white">
        <div class="card-header">
            <h5>Testlar</h5>
        </div>
        <div class="card-body">
            <style>
                p{
                    display:inline;
                    padding:5px;
                }
            </style>
            <form method="post" action="post/">{% csrf_token %}
                {% for question in questions %}
                    <p style="display:inline-block;">{{ question.q_id }}. {{question.body|safe}}</p><br>
                    {% for answer in question.answer.all %}
                        <input required type="radio" name="{{question.id}}" id="{{answer.id}}" value="{{answer.id}}" class="form-check-input mx-2"><label for="{{answer.id}}">{{answer.body|safe}}</label><br>
                    {% endfor %}
                    <hr>
                {% endfor %}
                <button class="btn btn-outline-warning">Yuborish</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block js1 %}
{% endblock js1 %}