{% extends 'base.html' %}

{% block title %}Topshiriqlar{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
<li class="breadcrumb-item"><a href="{% if profile.is_teacher %}/users/teachers/{% else %}/users/teachers/{% endif %}">{% if profile.is_teacher %}O'qituvchilar{% else %}O'quvchilar{% endif %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'profile' profile.username %}">{{profile.username|title}}</a></li>
<li class="breadcrumb-item active">Topshiriqlar</li>
{% endblock breadcrumb %}

{% block content %}
{% include 'users/profile_header.html' %}
    <div class="card bg-dark text-white">
        <div class="card-header p-2">
            <h3>Topshiriqlar</h3>
        </div>
        <div class="table-responsive card-body">
            <form method="GET" class="input-group">
                <input value="{{search}}" type="text" aria-label="Qidiruv" name="search" class="form-control bg-dark text-white" placeholder="Qidiruv">
                <select name="answers_count" class="bg-dark text-white form-select">
                    <option value="all">Javoblar soni</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                </select>
                <button class="input-group-text btn btn-primary">Qidirish</button>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>Topshiriq</th>
                        <th>Javoblar soni</th>
                        <th>Sinf / O'quvchi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assignment in object.object_list %}
                    <tr>
                        <td><a href="{% url 'assignment' assignment.id %}">{{assignment.title}}</a></td>
                        <td>{{assignment.assigment_answer.count}}</td>
                        <td>{{assignment.sinf}} {% if assignment.student %}<a href="{% url 'profile' assignment.student.username %}">{% endif %}{{assignment.student.last_name}} {{assignment.student.first_name}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% block paginate %}
            <div class="d-flex mt-3">
                <div class="mx-auto">
                    <div>
                        <nav>
                            <ul class="pagination">
                                <li class="page-item {% if object_list.has_previous  %}{% else %}disabled{% endif %}" aria-disabled="true">
                                    {% if object.has_previous %}
                                        <a class="btn btn-success" href="?page={{ object.previous_page_number }}">&laquo; Oldingi</a>
                                    {% else %}
                                        <a class="btn btn-success disabled" href="#">&laquo; Oldingi</a>
                                    {% endif %}
                                </li>
                                <li class="page-item {% if object_list.has_next  %}{% else %}disabled{% endif %}">
                                    {% if object.has_next  %}
                                        <a class="btn btn-success" href="?page={{ object.next_page_number }}">Keyingi &raquo;</a>
                                    {% else %}
                                        <a class="btn btn-success disabled" href="#">Keyingi &raquo;</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            {% endblock paginate %}
        </div>
    </div>
{% endblock %}