{% extends 'base.html' %}

{% block title %}Topshiriqlar{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
<li class="breadcrumb-item"><a href="{% if profile.is_teacher %}/users/teachers/{% else %}/users/teachers/{% endif %}">{% if profile.is_teacher %}O'qituvchilar{% else %}O'quvchilar{% endif %}</a></li>
<li class="breadcrumb-item"><a href="{% url 'profile' profile.username %}">{{profile.username|title}}</a></li>
<li class="breadcrumb-item active">Topshiriqlar</li>
{% endblock breadcrumb %}


{% block content %}
<div class="row">
    <div class="col-md-3 text-center profile-sticky">
        <div class="card bg-dark p-3 mb-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Student_%28example%29.svg/444px-Student_%28example%29.svg.png?20180722153736"
                alt="IMG" width="100%" style="border-radius: 50%;background-color: transparent;">
            <div class="my-2 fs-3">
                {{profile.first_name}} {{profile.last_name}}
            </div>
            <span style="font-size: 13px;">{{profile.email}}</span>
            <span  style="font-size: 13px;" class="user-status"></span>
            <button class="user-menu-opener"><i class="fa-solid fa-user-gear"></i> Hisob menyusi <i class="fa fa-chevron-down"></i></button>
            <button class="user-menu-opener"><i class="fa-solid fa-user-gear"></i> Hisob menyusi <i class="fa fa-chevron-down"></i></button>
            <ul class="profile-items my-3">
                <li><a href="/users/profile/{{profile.username}}/"><i class="fa fa-user"></i> Profil</a></li>
                {% if user == profile %}
                <li><a href="/users/update/"><i class="fa fa-pen"></i> Tahirirlash</a></li>
                <li><a href="/chats/"><i class="fa fa-comment"></i> Suhbatlar</a></li>
                <li><a href="/users/profile/{{profile.username}}/liked-posts/"><i class="fa fa-heart"></i> Yoqgan E'lonlar</a></li>
                {% endif %}
                {% if profile.is_teacher or profle.is_staff %}
                <li><a href="/users/profile/{{profile.username}}/prices/assignment/"><i class="bx bx-football"></i> Topshiriqdan  olgan ballar</a></li>
                <li><a href="/users/profile/{{profile.username}}/prices/controls/"><i class="bx bx-football"></i> Nazoratlardan olgan ballar</a></li>
                {% else %}
                <li class="active-profile-item"><a href="#"><i class="bx bx-football"></i> Topshiriqlar</a></li>
                <li><a href="/users/profile/{{profile.username}}/controls/"><i class="bx bx-football"></i> Nazoratlar</a></li>
                {% endif %}
                <li><a href="/users/profile/{{profile.username}}/solved-problems/"><i class="fa fa-check"></i> Masalalar</a></li>
                <li><a href="/users/profile/{{profile.username}}/attempts/"><i class="fab fa-strava"></i> Urinishlar</a></li>
                <li><a href="/users/profile/{{profile.username}}/courses/"><i class="fa fa-book"></i> Kurslar</a></li>
                <li><a href="/users/profile/{{profile.username}}/questions/"><i class="fa fa-question"></i> Testlar</a></li>
                <li><a href="/users/profile/{{profile.username}}/friends/"><i class="fa fa-users"></i> Do'stlar</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card bg-dark p-2">
            <div class="card bg-dark text-white">
                <div class="card-header p-2">
                    <h3>Topshiriqlar</h3>
                </div>
                <div class="table-responsive card-body">
                    <form method="GET" class="input-group">
                        <input value="{{search}}" type="text" aria-label="Qidiruv" name="search" class="form-control bg-dark text-white" placeholder="Qidiruv">
                        <select name="answers_count" class="bg-dark text-white form-select">
                            <option value="all">Javoblar soni</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                        </select>
                        <button class="input-group-text btn btn-primary">Qidirish</button>
                    </form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Topshiriq</th>
                                <th>Javoblar soni</th>
                                <th>Sinf / O'quvchi</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assignment in object.object_list %}
                            <tr>
                                <td><a href="{% url 'assignment' assignment.id %}">{{assignment.title}}</a></td>
                                <td>{{assignment.assigment_answer.count}}</td>
                                <td>{{assignment.sinf}} {% if assignment.student %}<a href="{% url 'profile' assignment.student.username %}">{% endif %}{{assignment.student.last_name}} {{assignment.student.first_name}}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    {% block paginate %}
                {% if object.num_pages != 1 %}
        <div class="pages text-center">

            <nav aria-label="Page navigation example" class="text-center">
                <ul class="pagination bg-dark text-center justify-content-center my-3">
                    {% if page_obj.has_previous %}
                        <li class="page-item bg-dark"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Orqaga</a></li>

                        {% if page_obj.number > 3 %}
                            <li class="page-item"> <a class="page-link" href="?page=1">1</a></li>
                                {% if page_obj.number > 4 %}
                                    <li class="page-item"><span class="page-link">...</span></li>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item"><a class="page-link active disabled bg-dark" href="?page={{ num }}">{{ num }}</a></li>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <span class="page-link">...</span>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                            {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %} <li class="page-item"><a class="page-link"
                                    href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                        {% endif %}

                        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Oldinga</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
                {% endblock paginate %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    const status = document.querySelector('.user-status');

    const now = new Date('Avg 23, 14:47:23');
    function checkOnlineStatus() {
        fetch('/users/profile/{{profile.username}}/check_user_status/')
            .then(response => response.json())
            .then(data => {
                if (data.is_online) {
                    status.innerHTML = '<p style="color: green !important;">Online</p>'
                } else {
                    status.innerHTML = `<p style="color: rgb(230,10,10) !important;">${data.time}</p>`
                }
            })
            .catch(error => console.log(error));
    }
    checkOnlineStatus();
    setInterval(checkOnlineStatus, 5000);

</script>
{% endblock %}