{% extends "base.html" %}

{% block title %}{{profile.username}} testlar{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
<li class="breadcrumb-item"><a
        href="/users/user/{{ user.username }}/">
        {{profile.get_full_name|title}}</a></li>
<li class="breadcrumb-item active text-white" aria-current="page">Testlar</li>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-3 text-center profile-sticky">
        <div class="card bg-dark p-3 mb-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Student_%28example%29.svg/444px-Student_%28example%29.svg.png?20180722153736"
                alt="IMG" width="100%" style="border-radius: 50%;background-color: transparent;">
            <div class="my-2 fs-3">
                {{profile.first_name}} {{profile.last_name}}
            </div>
            <span style="font-size: 13px;">{{profile.email}}</span>
            <span  style="font-size: 13px;" class="user-status"></span>
            <button class="user-menu-opener"><i class="fa-solid fa-user-gear"></i> Hisob menyusi <i class="fa fa-chevron-down"></i></button>
            <ul class="profile-items my-3">
                <li><a href="/users/profile/{{profile.username}}/"><i class="fa fa-user"></i> Profil</a></li>
                {% if user == profile %}
                <li><a href="/users/update/"><i class="fa fa-pen"></i> Tahirirlash</a></li>
                <li><a href="/chats/"><i class="fa fa-comment"></i> Suhbatlar</a></li>
                {% endif %}
                {% if not profile.is_teacher and not profle.is_staff %}
                <li><a href="/users/profile/{{profile.username}}/prices/assignment/"><i class="bx bx-football"></i> Topshiriqdan  olgan ballar</a></li>
                <li><a href="/users/profile/{{profile.username}}/prices/controls/"><i class="bx bx-football"></i> Nazoratlardan olgan ballar</a></li>
                {% else %}
                <li><a href="/users/profile/{{profile.username}}/assignments/"><i class="bx bx-football"></i> Topshiriqlar</a></li>
                <li><a href="/users/profile/{{profile.username}}/controls/"><i class="bx bx-football"></i> Nazoratlar</a></li>
                {% endif %}
                <li><a href="/users/profile/{{profile.username}}/solved-problems/"><i class="fa fa-check"></i> Masalalar</a></li>
                <li><a href="/users/profile/{{profile.username}}/attempts/"><i class="fab fa-strava"></i> Urinishlar</a></li>
                <li><a href="/users/profile/{{profile.username}}/courses/"><i class="fa fa-book"></i> Kurslar</a></li>
                <li class="active-profile-item"><a href="#"><i class="fa fa-question"></i> Testlar</a></li>
                <li><a href="/users/profile/{{profile.username}}/friends/"><i class="fa fa-users"></i> Do'stlar</a></li>
                {% if user.is_staff and user != profile %}
                <li><a href="/users/profile/{{profile.username}}/edit-admin/"><i class="fa fa-pen"></i> Tahrirlash</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            {% for test in object_list.object_list %}
                {% if test.is_active %}
                    <div class="card bg-dark text-white">
                        <div class="card-title m-2">
                            <h3><a href="{% url 'test_detail' test.id %}">{{test.title}}</a></h3>
                        </div>
                        <div class="card-body">
                            {{test.about|safe}}
                        </div>
                        <div class="card-footer">
                            Testlar soni: <b>{{test.answer.count}}</b>
                        </div>
                    </div>
                {% else %}
                <div class="card bg-dark text-white">
                    <div class="card-title m-2">
                        <h3><a>{{test.title}}</a></h3>
                    </div>
                    <div class="card-body">
                        {{test.about|safe}}
                    </div>
                    <div class="card-footer">
                        Testlar soni: <b>{{test.answer.count}}</b>
                    </div>
                </div>
                {% endif %}
            {% empty %}
            <div class="text-center fs-4" style="width: 100%;">
                Ushbu foydalanuvchi hech qanday testda ishtirok etmagan!
            </div>
            {% endfor %}
        </div>


        {% if object.num_pages != 1 %}
        <div class="pages text-center">

            <nav aria-label="Page navigation example" class="text-center">
                <ul class="pagination bg-dark text-center justify-content-center my-3">
                    {% if page_obj.has_previous %}
                        <li class="page-item bg-dark"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Orqaga</a></li>

                        {% if page_obj.number > 3 %}
                            <li class="page-item"> <a class="page-link" href="?page=1">1</a></li>
                                {% if page_obj.number > 4 %}
                                    <li class="page-item"><span class="page-link">...</span></li>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item"><a class="page-link active disabled bg-dark" href="?page={{ num }}">{{ num }}</a></li>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %} <span class="page-link">...</span>
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                            {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %} <li class="page-item"><a class="page-link"
                                    href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
                        {% endif %}

                        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Oldinga</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    const status = document.querySelector('.user-status');

    const now = new Date('Avg 23, 14:47:23');
    function checkOnlineStatus() {
        fetch('/users/profile/{{profile.username}}/check_user_status/')
            .then(response => response.json())
            .then(data => {
                if (data.is_online) {
                    status.innerHTML = '<p style="color: green !important;">Online</p>'
                } else {
                    status.innerHTML = `<p style="color: rgb(230,10,10) !important;">${data.time}</p>`
                }
            })
            .catch(error => console.log(error));
    }
    checkOnlineStatus();
    setInterval(checkOnlineStatus, 5000);

</script>
{% endblock %}