{% extends 'o/base.html' %}

{% block title %}
{{sol.title|title}}
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="/">Bosh sahifa</a></li>
<li class="breadcrumb-item"><a href="/olympiad-solutions/">Olimpiada yechimlari</a></li>
<li class="breadcrumb-item active bg-dark" aria-current="page">{{sol.title|title}}</li>
{% endblock breadcrumb %}

{% block content %}
{% if user.is_staff or user == sol.author %}

{% endif %}
{% if user.is_staff or user == sol.author %}
<div class="card bg-dark p-2 mb-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link bg-primary text-white" aria-current="page" href="#"><i class="fa fa-bar-chart"></i> Olimpiada</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/olympiad-solutions/solution/{{sol.id}}/edit/"><i class="fa fa-pen"></i> Tahrirlash</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/olympiad-solutions/solution/{{sol.id}}/add-problem/"><i class="fa fa-plus"></i> Masala yechimini qo'shish</a>
        </li>
    </ul>
</div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        <div class="card bg-dark p-0">
            <div class="p-3 mb-3" style="display: flex !important;justify-content: space-between;">
                <h3>{{sol.title|safe|title}}</h3>
                <span><a href="{{sol.url}}" target="_blank">{{sol.get_custom_url}}</a></span>
            </div>
            <div class="mb-3 row p-3">
                {% for problem in sol.problems.all %}
                <div class="col-md-4">
                    <a href="/olympiad-solutions/solution/{{sol.id}}/problem/{{problem.id}}/"
                        class="card bg-dark p-2 mt-3" style="box-shadow: none !important;">
                        <h4>{{problem.title|safe|title}}</h4>
                        <div class="p-2">{{problem.get_custom_body|slice:':70'}}...</div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}